

.node--view-mode-collection-main-display .field--name-field-description,  .block-views-blockrepository-item-description-block-1 .views-field-field-description {
    background-color: #DfDfDF;
    padding: 1em;
    border-radius: 5px;
}


.block-facets h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}


#block-hshsl-islandora-page-title {
    margin-bottom: 0;
    h1 {
        letter-spacing: -2px;
    }
}